<a href="https://colab.research.google.com/github/cestsuperwin59/data-science-bootcamp/blob/main/Essential_python_for_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# super class
class Person:
    def __init__(self, name):
        self.name = name
    def hey(self):
        print("Hello world")
    def sayhi(self):
        print(f"Hi my name is {self.name}!")

class Employee(Person): #superclass -> upgrade from person and has new method sayhi
    def __init__(self, name, company):
        super().__init__(name)
        self.company = company
    def potato(self):
        print("potato is very good")
    def sayhi(self): #new method
        print(f"Hi my name is {self.name} and I work at {self.company}.")

In [ ]:
toy = Person("Toy")
john =Employee("John", "Google")
toy.sayhi()
john.sayhi()

Hi my name is Toy!
Hi my name is John and I work at Google.

In [ ]:
toy.hey()

Hello world

In [ ]:
john.hey()

Hello world

In [ ]:
john.potato()

potato is very good

In [ ]:
# try except block
try:
    1/0
except NameError:
    print("Variable is not found")
except ZeroDivisionError:
    print("cannot divide a number with zero")
except ValueError:
    print("Please check your data type again")
else:
    print("Done")
finally:
    print("this is last line")

cannot divide a number with zero
this is last line

In [ ]:
assert 1+1 == 5, "1+1 must be equal 2"

AssertionError: ignored

In [ ]:
def check_this(a,b):
    assert a+b > 10, "a+b should be more than 10"
    return a+b

In [ ]:
check_this(10,20)

30

In [ ]:
#type hint
def check_this(a: int,b: int) -> int:
    assert a+b > 10, "a+b should be more than 10"
    return a+b

In [ ]:
check_this(10,20)

30

In [ ]:
#lambda function

In [ ]:
def gretting(name):
    print("hello "+ name)

In [ ]:
greeting = lambda name: print("hello " + name)

In [ ]:
greeting("toy")

hello toy

In [ ]:
def odd_or_even(num):
    if num % 2 == 0:
        print("even")
    else:
        print("odd")

In [ ]:
odd_or_even = lambda num: "even" if num % 2 == 0 else "odd"

In [ ]:
odd_or_even(4)

'even'

In [ ]:
#list of colored balls
balls = ['red', 'red', 'green', 'blue', 'blue']

In [ ]:
def summary(lst_items):
    result = {} # empty dictionary
    for item in lst_items:
        if item in result:
            result[item] +=1
        else:
            result[item] = 1
    return(result)

In [ ]:
summary(balls)

{'red': 2, 'green': 1, 'blue': 2}

In [ ]:
# comma separated values(csv file)
# ! magic command

In [ ]:
!pwd

/content

In [ ]:
!ls sample_data/

anscombe.json		      mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [ ]:
!rmdir newfolder

In [ ]:
!echo hello

hello

In [ ]:
!cat hotel.csv

ï»¿id,hotel,location,price
1,Accor,Thailand,50
2,Ibis,Italy,60
3,London,UK,55
4,Seoul,Korea,45
5,le Concord,USA,66

In [ ]:
import csv #module

file = open("hotel.csv")

data = csv.reader(file)
for row in data:
    print(row)

file.close()

['\ufeffid', 'hotel', 'location', 'price']
['1', 'Accor', 'Thailand', '50']
['2', 'Ibis', 'Italy', '60']
['3', 'London', 'UK', '55']
['4', 'Seoul', 'Korea', '45']
['5', 'le Concord', 'USA', '66']

In [ ]:
# context manager
with open("hotel.csv", "r") as file:
    data = csv.reader(file)
    for row in data:
        print(row)

['\ufeffid', 'hotel', 'location', 'price']
['1', 'Accor', 'Thailand', '50']
['2', 'Ibis', 'Italy', '60']
['3', 'London', 'UK', '55']
['4', 'Seoul', 'Korea', '45']
['5', 'le Concord', 'USA', '66']

In [ ]:
# context manager
import csv
try:
    with open("hotel.csv", "r") as file:
        data = csv.reader(file)
        for row in data:
            print(row)
except:
    print("Found some errors, please check again")

['\ufeffid', 'hotel', 'location', 'price']
['1', 'Accor', 'Thailand', '50']
['2', 'Ibis', 'Italy', '60']
['3', 'London', 'UK', '55']
['4', 'Seoul', 'Korea', '45']
['5', 'le Concord', 'USA', '66']

In [ ]:
#context manager

csv_data = [] #empty list

with open("hotel.csv") as file:
    data = csv.reader(file)
    for row in data:
        csv_data.append(row)

print(csv_data)

[['\ufeffid', 'hotel', 'location', 'price'], ['1', 'Accor', 'Thailand', '50'], ['2', 'Ibis', 'Italy', '60'], ['3', 'London', 'UK', '55'], ['4', 'Seoul', 'Korea', '45'], ['5', 'le Concord', 'USA', '66']]

In [ ]:
import pandas as pd

df = pd.read_csv("hotel.csv")

df

   id       hotel  location  price
0   1       Accor  Thailand     50
1   2        Ibis     Italy     60
2   3      London        UK     55
3   4       Seoul     Korea     45
4   5  le Concord       USA     66

In [ ]:
import pandas as pd

df = pd.read_csv("hotel.csv")

df["price_double"] = df["price"]*2 #create new column

df.to_csv("hotel_modified.csv")

In [ ]:
!cat hotel_modified.csv

,id,hotel,location,price,price_double
0,1,Accor,Thailand,50,100
1,2,Ibis,Italy,60,120
2,3,London,UK,55,110
3,4,Seoul,Korea,45,90
4,5,le Concord,USA,66,132

In [ ]:
# write csv file
import csv

headers = ["id", "name", "age"]
data = [
    [1, "toy", 25],
    [2, "win", 26],
    [3, "tip", 27]
]
with open("newfile.csv", "w") as file:
    writer = csv.writer(file)
    writer.writerow(headers)
    writer.writerows(data)

In [ ]:
!cat newfile.csv

id,name,age
1,toy,25
2,win,26
3,tip,27

In [ ]:
result = []
with open("newfile.csv") as file:
    data = csv.reader(file)
    for row in data:
        result.append(row)
    print(result)

[['id', 'name', 'age'], ['1', 'toy', '25'], ['2', 'win', '26'], ['3', 'tip', '27']]

In [ ]:
#regular expression

import re

text ="a duck walks into a bar"

re.search("duck", text)

In [ ]:
#regular expression

import re

text ="a tiger walks into a bar"

result = re.search("duck", text)

if result:
    print("Duck found")
else:
    print("Duck not found")

Duck not found

In [ ]:
# list comprehension
numbers = [1,2,3,4,5]

In [ ]:
result =[]
for num in numbers:
    result.append(num*2)
print(result)

[2, 4, 6, 8, 10]

In [ ]:
result =[num*2 for num in numbers]
print(result)

[2, 4, 6, 8, 10]

In [ ]:
# list comprehension
numbers = [1,2,3,4,5] #-> 2,4

In [ ]:
even_nums =[]

for num in numbers:
    if num % 2==0:
        even_nums.append(num)
print(even_nums)

[2, 4]

In [ ]:
odd_nums = [ num for num in numbers if num%2 ==1]
even_nums = [ num for num in numbers if num%2 ==0]

print(odd_nums, even_nums)

[1, 3, 5] [2, 4]

In [ ]:
## json => javascript Object Notation
!ls

sample_data  win.json

In [ ]:
import json

with open("win.json", "r") as file:
    data = json.load(file)

In [ ]:
data

{'name': 'win',
 'age': 38,
 'movie_lover': True,
 'movies': ['batman', 'superman']}

In [ ]:
data["age"]

38

In [ ]:
data["movies"][1]

'superman'

In [ ]:
#create new json file
school = {
    "name": "bootcamp",
    "batch": 7,
    "duration": "4 months",
}

with open("newjason.json", "w") as file:
    json.dump(school, file)

In [ ]:
!cat newjason.json

{"name": "bootcamp", "batch": 7, "duration": "4 months"}

In [ ]:
with open("newjason.json", "r") as file:
    data2 = json.load(file)

In [ ]:
data2

{'name': 'bootcamp', 'batch': 7, 'duration': '4 months'}

In [ ]:
#API get requests

#HW01 -find public API

import requests

url = "https://swapi.dev/api/people/45"

result = requests.get(url)

result.text

'{"name":"Bib Fortuna","height":"180","mass":"unknown","hair_color":"none","skin_color":"pale","eye_color":"pink","birth_year":"unknown","gender":"male","homeworld":"https://swapi.dev/api/planets/37/","films":["https://swapi.dev/api/films/3/"],"species":["https://swapi.dev/api/species/15/"],"vehicles":[],"starships":[],"created":"2014-12-20T09:47:02.512000Z","edited":"2014-12-20T21:17:50.407000Z","url":"https://swapi.dev/api/people/45/"}'

In [ ]:
result.status_code

200

In [ ]:
data_json = result.json()
data_json["name"]

'Bib Fortuna'

In [ ]:
#API get requests

#HW01 -find public API

from requests import get
from time import sleep

nums = list(range(1,6))
result =[]

for i in nums:
    url = f"https://swapi.dev/api/people/{i}" #1-5
    response = get(url)
    data =response.json()
    row = [data["name"],
           data["height"],
           data["mass"],
           data["gender"]
    ]
    result.append(row)
    sleep(1) #second
print(result)

[['Luke Skywalker', '172', '77', 'male'], ['C-3PO', '167', '75', 'n/a'], ['R2-D2', '96', '32', 'n/a'], ['Darth Vader', '202', '136', 'male'], ['Leia Organa', '150', '49', 'female']]

In [ ]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
import pandas as pd
df = pd.DataFrame(result, columns=["name", "height", "mass", "gender"])
df.to_csv("starwarapi.csv")

df

             name height mass  gender
0  Luke Skywalker    172   77    male
1           C-3PO    167   75     n/a
2           R2-D2     96   32     n/a
3     Darth Vader    202  136    male
4     Leia Organa    150   49  female

Web scraping

In [ ]:
#webscraping
#gazpacho

# https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc

In [ ]:
!pip list

Package                          Version
-------------------------------- ---------------------
absl-py                          1.4.0
aiohttp                          3.8.5
aiosignal                        1.3.1
alabaster                        0.7.13
albumentations                   1.2.1
altair                           4.2.2
anyio                            3.7.1
appdirs                          1.4.4
argon2-cffi                      21.3.0
argon2-cffi-bindings             21.2.0
array-record                     0.4.0
arviz                            0.15.1
astropy                          5.2.2
astunparse                       1.6.3
async-timeout                    4.0.2
attrs                            23.1.0
audioread                        3.0.0
autograd                         1.6.2
Babel                            2.12.1
backcall                         0.2.0
beautifulsoup4                   4.11.2
bleach                           6.0.0
blinker                          1.4
blis                             0.7.10
blosc2                           2.0.0
bokeh                            3.1.1
branca                           0.6.0
build                            0.10.0
CacheControl                     0.13.1
cachetools                       5.3.1
catalogue                        2.0.9
certifi                          2023.7.22
cffi                             1.15.1
chardet                          4.0.0
charset-normalizer               2.0.12
chex                             0.1.7
click                            8.1.6
click-plugins                    1.1.1
cligj                            0.7.2
cloudpickle                      2.2.1
cmake                            3.25.2
cmdstanpy                        1.1.0
colorcet                         3.0.1
colorlover                       0.3.0
community                        1.0.0b1
confection                       0.1.0
cons                             0.4.6
contextlib2                      21.6.0
contourpy                        1.1.0
convertdate                      2.4.0
cryptography                     3.4.8
cufflinks                        0.17.3
cvxopt                           1.3.1
cvxpy                            1.3.2
cycler                           0.11.0
cymem                            2.0.7
Cython                           0.29.36
dask                             2022.12.1
datascience                      0.17.6
db-dtypes                        1.1.1
dbus-python                      1.2.18
debugpy                          1.6.6
decorator                        4.4.2
defusedxml                       0.7.1
distributed                      2022.12.1
distro                           1.7.0
dlib                             19.24.2
dm-tree                          0.1.8
docutils                         0.18.1
dopamine-rl                      4.0.6
duckdb                           0.8.1
earthengine-api                  0.1.361
easydict                         1.10
ecos                             2.0.12
editdistance                     0.6.2
en-core-web-sm                   3.5.0
entrypoints                      0.4
ephem                            4.1.4
et-xmlfile                       1.1.0
etils                            1.4.0
etuples                          0.3.9
exceptiongroup                   1.1.2
fastai                           2.7.12
fastcore                         1.5.29
fastdownload                     0.0.7
fastjsonschema                   2.18.0
fastprogress                     1.0.3
fastrlock                        0.8.1
filelock                         3.12.2
Fiona                            1.9.4.post1
firebase-admin                   5.3.0
Flask                            2.2.5
flatbuffers                      23.5.26
flax                             0.7.0
folium                           0.14.0
fonttools                        4.41.1
frozendict                       2.3.8
frozenlist                       1.4.0
fsspec                           2023.6.0
future                           0.18.3
gast                             0.4.0
gcsfs                            2023.6.0
GDAL                             3.4.3
gdown                            4.6.6
gensim                           4.3.1
geographiclib                    2.0
geopandas                        0.13.2
geopy                            2.3.0
gin-config                       0.5.0
glob2                            0.7
google                           2.0.3
google-api-core                  2.11.1
google-api-python-client         2.84.0
google-auth                      2.17.3
google-auth-httplib2             0.1.0
google-auth-oauthlib             1.0.0
google-cloud-bigquery            3.10.0
google-cloud-bigquery-connection 1.12.1
google-cloud-bigquery-storage    2.22.0
google-cloud-core                2.3.3
google-cloud-datastore           2.15.2
google-cloud-firestore           2.11.1
google-cloud-functions           1.13.1
google-cloud-language            2.9.1
google-cloud-storage             2.8.0
google-cloud-translate           3.11.2
google-colab                     1.0.0
google-crc32c                    1.5.0
google-pasta                     0.2.0
google-resumable-media           2.5.0
googleapis-common-protos         1.59.1
googledrivedownloader            0.4
graphviz                         0.20.1
greenlet                         2.0.2
grpc-google-iam-v1               0.12.6
grpcio                           1.56.2
grpcio-status                    1.48.2
gspread                          3.4.2
gspread-dataframe                3.3.1
gym                              0.25.2
gym-notices                      0.0.8
h5netcdf                         1.2.0
h5py                             3.8.0
holidays                         0.29
holoviews                        1.15.4
html5lib                         1.1
httpimport                       1.3.1
httplib2                         0.21.0
humanize                         4.6.0
hyperopt                         0.2.7
idna                             3.4
imageio                          2.25.1
imageio-ffmpeg                   0.4.8
imagesize                        1.4.1
imbalanced-learn                 0.10.1
imgaug                           0.4.0
importlib-metadata               4.6.4
importlib-resources              6.0.0
imutils                          0.5.4
inflect                          6.0.5
iniconfig                        2.0.0
intel-openmp                     2023.2.0
ipykernel                        5.5.6
ipython                          7.34.0
ipython-genutils                 0.2.0
ipython-sql                      0.4.1
ipywidgets                       7.7.1
itsdangerous                     2.1.2
jax                              0.4.13
jaxlib                           0.4.13+cuda11.cudnn86
jeepney                          0.7.1
jieba                            0.42.1
Jinja2                           3.1.2
joblib                           1.3.1
jsonpickle                       3.0.1
jsonschema                       4.3.3
jupyter-client                   6.1.12
jupyter-console                  6.1.0
jupyter_core                     5.3.1
jupyter-server                   1.24.0
jupyterlab-pygments              0.2.2
jupyterlab-widgets               3.0.8
kaggle                           1.5.16
keras                            2.12.0
keyring                          23.5.0
kiwisolver                       1.4.4
langcodes                        3.3.0
launchpadlib                     1.10.16
lazr.restfulclient               0.14.4
lazr.uri                         1.0.6
lazy_loader                      0.3
libclang                         16.0.6
librosa                          0.10.0.post2
lightgbm                         3.3.5
linkify-it-py                    2.0.2
lit                              16.0.6
llvmlite                         0.39.1
locket                           1.0.0
logical-unification              0.4.6
LunarCalendar                    0.0.9
lxml                             4.9.3
Markdown                         3.4.4
markdown-it-py                   3.0.0
MarkupSafe                       2.1.3
matplotlib                       3.7.1
matplotlib-inline                0.1.6
matplotlib-venn                  0.11.9
mdit-py-plugins                  0.4.0
mdurl                            0.1.2
miniKanren                       1.0.3
missingno                        0.5.2
mistune                          0.8.4
mizani                           0.8.1
mkl                              2019.0
ml-dtypes                        0.2.0
mlxtend                          0.22.0
more-itertools                   9.1.0
moviepy                          1.0.3
mpmath                           1.3.0
msgpack                          1.0.5
multidict                        6.0.4
multipledispatch                 1.0.0
multitasking                     0.0.11
murmurhash                       1.0.9
music21                          8.1.0
natsort                          8.3.1
nbclient                         0.8.0
nbconvert                        6.5.4
nbformat                         5.9.1
nest-asyncio                     1.5.6
networkx                         3.1
nibabel                          4.0.2
nltk                             3.8.1
notebook                         6.4.8
numba                            0.56.4
numexpr                          2.8.4
numpy                            1.22.4
oauth2client                     4.1.3
oauthlib                         3.2.2
opencv-contrib-python            4.7.0.72
opencv-python                    4.7.0.72
opencv-python-headless           4.8.0.74
openpyxl                         3.0.10
opt-einsum                       3.3.0
optax                            0.1.7
orbax-checkpoint                 0.3.1
osqp                             0.6.2.post8
packaging                        23.1
palettable                       3.3.3
pandas                           1.5.3
pandas-datareader                0.10.0
pandas-gbq                       0.17.9
pandocfilters                    1.5.0
panel                            1.2.1
param                            1.13.0
parso                            0.8.3
partd                            1.4.0
pathlib                          1.0.1
pathy                            0.10.2
patsy                            0.5.3
pexpect                          4.8.0
pickleshare                      0.7.5
Pillow                           9.4.0
pip                              23.1.2
pip-tools                        6.13.0
platformdirs                     3.9.1
plotly                           5.13.1
plotnine                         0.10.1
pluggy                           1.2.0
polars                           0.17.3
pooch                            1.6.0
portpicker                       1.5.2
prefetch-generator               1.0.3
preshed                          3.0.8
prettytable                      0.7.2
proglog                          0.1.10
progressbar2                     4.2.0
prometheus-client                0.17.1
promise                          2.3
prompt-toolkit                   3.0.39
prophet                          1.1.4
proto-plus                       1.22.3
protobuf                         3.20.3
psutil                           5.9.5
psycopg2                         2.9.6
ptyprocess                       0.7.0
py-cpuinfo                       9.0.0
py4j                             0.10.9.7
pyarrow                          9.0.0
pyasn1                           0.5.0
pyasn1-modules                   0.3.0
pycocotools                      2.0.6
pycparser                        2.21
pyct                             0.5.0
pydantic                         1.10.12
pydata-google-auth               1.8.1
pydot                            1.4.2
pydot-ng                         2.0.0
pydotplus                        2.0.2
PyDrive                          1.3.1
pyerfa                           2.0.0.3
pygame                           2.5.0
Pygments                         2.14.0
PyGObject                        3.42.1
PyJWT                            2.3.0
pymc                             5.1.2
PyMeeus                          0.5.12
pymystem3                        0.2.0
PyOpenGL                         3.1.7
pyparsing                        3.1.0
pyproj                           3.6.0
pyproject_hooks                  1.0.0
pyrsistent                       0.19.3
PySocks                          1.7.1
pytensor                         2.10.1
pytest                           7.2.2
python-apt                       0.0.0
python-dateutil                  2.8.2
python-louvain                   0.16
python-slugify                   8.0.1
python-utils                     3.7.0
pytz                             2022.7.1
pyviz-comms                      2.3.2
PyWavelets                       1.4.1
PyYAML                           6.0.1
pyzmq                            23.2.1
qdldl                            0.1.7.post0
qudida                           0.0.4
regex                            2022.10.31
requests                         2.27.1
requests-oauthlib                1.3.1
requirements-parser              0.5.0
rich                             13.4.2
rpy2                             3.4.2
rsa                              4.9
scikit-image                     0.19.3
scikit-learn                     1.2.2
scipy                            1.10.1
scs                              3.2.3
seaborn                          0.12.2
SecretStorage                    3.3.1
Send2Trash                       1.8.2
setuptools                       67.7.2
shapely                          2.0.1
six                              1.16.0
sklearn-pandas                   2.2.0
smart-open                       6.3.0
sniffio                          1.3.0
snowballstemmer                  2.2.0
sortedcontainers                 2.4.0
soundfile                        0.12.1
soupsieve                        2.4.1
soxr                             0.3.5
spacy                            3.5.4
spacy-legacy                     3.0.12
spacy-loggers                    1.0.4
Sphinx                           5.0.2
sphinxcontrib-applehelp          1.0.4
sphinxcontrib-devhelp            1.0.2
sphinxcontrib-htmlhelp           2.0.1
sphinxcontrib-jsmath             1.0.1
sphinxcontrib-qthelp             1.0.3
sphinxcontrib-serializinghtml    1.1.5
SQLAlchemy                       2.0.19
sqlparse                         0.4.4
srsly                            2.4.7
statsmodels                      0.13.5
sympy                            1.11.1
tables                           3.8.0
tabulate                         0.9.0
tblib                            2.0.0
tenacity                         8.2.2
tensorboard                      2.12.3
tensorboard-data-server          0.7.1
tensorflow                       2.12.0
tensorflow-datasets              4.9.2
tensorflow-estimator             2.12.0
tensorflow-gcs-config            2.12.0
tensorflow-hub                   0.14.0
tensorflow-io-gcs-filesystem     0.32.0
tensorflow-metadata              1.13.1
tensorflow-probability           0.20.1
tensorstore                      0.1.40
termcolor                        2.3.0
terminado                        0.17.1
text-unidecode                   1.3
textblob                         0.17.1
tf-slim                          1.1.0
thinc                            8.1.10
threadpoolctl                    3.2.0
tifffile                         2023.7.18
tinycss2                         1.2.1
toml                             0.10.2
tomli                            2.0.1
toolz                            0.12.0
torch                            2.0.1+cu118
torchaudio                       2.0.2+cu118
torchdata                        0.6.1
torchsummary                     1.5.1
torchtext                        0.15.2
torchvision                      0.15.2+cu118
tornado                          6.3.1
tqdm                             4.65.0
traitlets                        5.7.1
triton                           2.0.0
tweepy                           4.13.0
typer                            0.9.0
types-setuptools                 68.0.0.3
typing_extensions                4.7.1
tzlocal                          5.0.1
uc-micro-py                      1.0.2
uritemplate                      4.1.1
urllib3                          1.26.16
vega-datasets                    0.9.0
wadllib                          1.3.6
wasabi                           1.1.2
wcwidth                          0.2.6
webcolors                        1.13
webencodings                     0.5.1
websocket-client                 1.6.1
Werkzeug                         2.3.6
wheel                            0.41.0
widgetsnbextension               3.6.4
wordcloud                        1.8.2.2
wrapt                            1.14.1
xarray                           2022.12.0
xarray-einstats                  0.6.0
xgboost                          1.7.6
xlrd                             2.0.1
xyzservices                      2023.7.0
yarl                             1.9.2
yellowbrick                      1.5
yfinance                         0.2.25
zict                             3.0.0
zipp                             3.16.2

In [ ]:
!pip install gazpacho

Collecting gazpacho
  Downloading gazpacho-1.1.tar.gz (7.9 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: gazpacho
  Building wheel for gazpacho (pyproject.toml) ... done
  Created wheel for gazpacho: filename=gazpacho-1.1-py3-none-any.whl size=7462 sha256=8724fe4fc85a820e0926a2b08025301250912eb3aa8c2cf86180b93500d9d50a
  Stored in directory: /root/.cache/pip/wheels/9b/bf/9f/8c8849499462415fa5cdf0d9edb1103c189bdbece90c51488e
Successfully built gazpacho
Installing collected packages: gazpacho
Successfully installed gazpacho-1.1

In [ ]:
!pip list | grep "gaz"

gazpacho                         1.1

In [ ]:
from gazpacho import Soup
from requests import get

url = "https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc"

response = get(url)

print(response.status_code)

200

In [ ]:
from gazpacho import Soup
from requests import get

url = "https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc"

headers = {"Accept-Language": "en-US"} #request language

response = get(url, headers=headers)

imdb = Soup(response.text) #wrap with soup object

In [ ]:
type(imdb)

gazpacho.soup.Soup

In [ ]:
imdb.find("title")

[<title>IMDb &quot;Top 100&quot;
 (Sorted by IMDb Rating Descending) - IMDb</title>,
 <title>IMDb, an Amazon company</title>]

In [ ]:
imdb.find("title")[0].strip() #delete html tag

'IMDb "Top 100" (Sorted by IMDb Rating Descending) - IMDb'

In [ ]:
imdb.find("h3")[9].strip()

'10. Inception (2010)'

In [ ]:
title_list = imdb.find("h3", {"class": "lister-item-header"})

In [ ]:
for title in title_list:
    print(title.strip())

1. The Shawshank Redemption (1994)
2. The Godfather (1972)
3. The Dark Knight (2008)
4. Schindler's List (1993)
5. 12 Angry Men (1957)
6. The Lord of the Rings: The Return of the King (2003)
7. The Godfather Part II (1974)
8. Spider-Man: Across the Spider-Verse (2023)
9. Pulp Fiction (1994)
10. Inception (2010)
11. Fight Club (1999)
12. The Lord of the Rings: The Fellowship of the Ring (2001)
13. Forrest Gump (1994)
14. The Good, the Bad and the Ugly (1966)
15. The Lord of the Rings: The Two Towers (2002)
16. Oppenheimer (2023)
17. Interstellar (2014)
18. Goodfellas (1990)
19. One Flew Over the Cuckoo's Nest (1975)
20. The Matrix (1999)
21. Star Wars: Episode V - The Empire Strikes Back (1980)
22. Se7en (1995)
23. Saving Private Ryan (1998)
24. The Silence of the Lambs (1991)
25. Terminator 2: Judgment Day (1991)
26. The Green Mile (1999)
27. Star Wars: Episode IV - A New Hope (1977)
28. City of God (2002)
29. Spirited Away (2001)
30. Life Is Beautiful (1997)
31. Seven Samurai (1954)
32. It's a Wonderful Life (1946)
33. Harakiri (1962)
34. The Prestige (2006)
35. Back to the Future (1985)
36. Parasite (2019)
37. Gladiator (2000)
38. The Departed (2006)
39. Alien (1979)
40. Whiplash (2014)
41. LÃ©on: The Professional (1994)
42. The Pianist (2002)
43. The Usual Suspects (1995)
44. The Lion King (1994)
45. American History X (1998)
46. Grave of the Fireflies (1988)
47. The Intouchables (2011)
48. Psycho (1960)
49. Casablanca (1942)
50. Once Upon a Time in the West (1968)

In [ ]:
titles = [title.strip() for title in title_list]
print(titles)

['1. The Shawshank Redemption (1994)', '2. The Godfather (1972)', '3. The Dark Knight (2008)', "4. Schindler's List (1993)", '5. 12 Angry Men (1957)', '6. The Lord of the Rings: The Return of the King (2003)', '7. The Godfather Part II (1974)', '8. Spider-Man: Across the Spider-Verse (2023)', '9. Pulp Fiction (1994)', '10. Inception (2010)', '11. Fight Club (1999)', '12. The Lord of the Rings: The Fellowship of the Ring (2001)', '13. Forrest Gump (1994)', '14. The Good, the Bad and the Ugly (1966)', '15. The Lord of the Rings: The Two Towers (2002)', '16. Oppenheimer (2023)', '17. Interstellar (2014)', '18. Goodfellas (1990)', "19. One Flew Over the Cuckoo's Nest (1975)", '20. The Matrix (1999)', '21. Star Wars: Episode V - The Empire Strikes Back (1980)', '22. Se7en (1995)', '23. Saving Private Ryan (1998)', '24. The Silence of the Lambs (1991)', '25. Terminator 2: Judgment Day (1991)', '26. The Green Mile (1999)', '27. Star Wars: Episode IV - A New Hope (1977)', '28. City of God (2002)', '29. Spirited Away (2001)', '30. Life Is Beautiful (1997)', '31. Seven Samurai (1954)', "32. It's a Wonderful Life (1946)", '33. Harakiri (1962)', '34. The Prestige (2006)', '35. Back to the Future (1985)', '36. Parasite (2019)', '37. Gladiator (2000)', '38. The Departed (2006)', '39. Alien (1979)', '40. Whiplash (2014)', '41. LÃ©on: The Professional (1994)', '42. The Pianist (2002)', '43. The Usual Suspects (1995)', '44. The Lion King (1994)', '45. American History X (1998)', '46. Grave of the Fireflies (1988)', '47. The Intouchables (2011)', '48. Psycho (1960)', '49. Casablanca (1942)', '50. Once Upon a Time in the West (1968)']

In [ ]:
#pull runtime

runtimes =imdb.find("span", {"class": "runtime"})
print(runtimes)

[<span class="runtime">142 min</span>, <span class="runtime">175 min</span>, <span class="runtime">152 min</span>, <span class="runtime">195 min</span>, <span class="runtime">96 min</span>, <span class="runtime">201 min</span>, <span class="runtime">202 min</span>, <span class="runtime">140 min</span>, <span class="runtime">154 min</span>, <span class="runtime">148 min</span>, <span class="runtime">139 min</span>, <span class="runtime">178 min</span>, <span class="runtime">142 min</span>, <span class="runtime">178 min</span>, <span class="runtime">179 min</span>, <span class="runtime">180 min</span>, <span class="runtime">169 min</span>, <span class="runtime">145 min</span>, <span class="runtime">133 min</span>, <span class="runtime">136 min</span>, <span class="runtime">124 min</span>, <span class="runtime">127 min</span>, <span class="runtime">169 min</span>, <span class="runtime">118 min</span>, <span class="runtime">137 min</span>, <span class="runtime">189 min</span>, <span class="runtime">121 min</span>, <span class="runtime">130 min</span>, <span class="runtime">125 min</span>, <span class="runtime">116 min</span>, <span class="runtime">207 min</span>, <span class="runtime">130 min</span>, <span class="runtime">133 min</span>, <span class="runtime">130 min</span>, <span class="runtime">116 min</span>, <span class="runtime">132 min</span>, <span class="runtime">155 min</span>, <span class="runtime">151 min</span>, <span class="runtime">117 min</span>, <span class="runtime">106 min</span>, <span class="runtime">110 min</span>, <span class="runtime">150 min</span>, <span class="runtime">106 min</span>, <span class="runtime">88 min</span>, <span class="runtime">119 min</span>, <span class="runtime">89 min</span>, <span class="runtime">112 min</span>, <span class="runtime">109 min</span>, <span class="runtime">102 min</span>, <span class="runtime">165 min</span>]

In [ ]:
runtimes = [runtime.strip() for runtime in runtimes]
print(runtimes)

['142 min', '175 min', '152 min', '195 min', '96 min', '201 min', '202 min', '140 min', '154 min', '148 min', '139 min', '178 min', '142 min', '178 min', '179 min', '180 min', '169 min', '145 min', '133 min', '136 min', '124 min', '127 min', '169 min', '118 min', '137 min', '189 min', '121 min', '130 min', '125 min', '116 min', '207 min', '130 min', '133 min', '130 min', '116 min', '132 min', '155 min', '151 min', '117 min', '106 min', '110 min', '150 min', '106 min', '88 min', '119 min', '89 min', '112 min', '109 min', '102 min', '165 min']

In [ ]:
#combine 2 list to be one dataframe

data = [title, runtimes]

import pandas as pd
pd.DataFrame(data, columns = ["title", "runtime"])

In [ ]:
import pandas as pd

df = pd.DataFrame({
    "title": titles,
    "runtime": runtimes
    })
df.head(5)

                                title  runtime
0  1. The Shawshank Redemption (1994)  142 min
1             2. The Godfather (1972)  175 min
2           3. The Dark Knight (2008)  152 min
3          4. Schindler's List (1993)  195 min
4              5. 12 Angry Men (1957)   96 min

In [ ]:
df.to_csv("imdb.csv")

Basic Data Tools
* numpy
* pandas
* sklearn

In [ ]:
#numpy -> numerical python
import numpy as np

num = [1,2,3,4,5]

num_arr = np.array(num)

num_arr*2

array([ 2,  4,  6,  8, 10])

In [ ]:
print(num_arr*2, num_arr+2, num_arr-2, num_arr/5)

[ 2  4  6  8 10] [3 4 5 6 7] [-1  0  1  2  3] [0.2 0.4 0.6 0.8 1. ]

In [ ]:
#statistical basic calculation
np.sum(num_arr)
np.mean(num_arr)
np.median(num_arr)
np.std(num_arr)
np.min(num_arr)
np.max(num_arr)
len(num_arr)

5

In [ ]:
num_arr.mean()

3.0

In [ ]:
num_arr.std()

1.4142135623730951

In [ ]:
#matrix 2d-array
m1 = np.array([
    [1,2],
    [3,4]
])

In [ ]:
m1*5

array([[ 5, 10],
       [15, 20]])

In [ ]:
m2 = np.array([
    [5,5],
    [4,2]
])

In [ ]:
print(m1, "\n"*2, m2)

[[1 2]
 [3 4]]

 [[5 5]
 [4 2]]

In [ ]:
m1*m2

array([[ 5, 10],
       [12,  8]])

In [ ]:
#m1.dot(m2)
np.dot(m1,m2)

array([[13,  9],
       [31, 23]])

In [ ]:
#introduction to pandas
import pandas as pd
import numpy as np

In [ ]:
hotel = pd.read_csv("hotel.csv")

In [ ]:
hotel.shape #row,column

(5, 4)

In [ ]:
hotel.info() #pandas dataframe method

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        5 non-null      int64
 1   hotel     5 non-null      object
 2   location  5 non-null      object
 3   price     5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes

In [ ]:
hotel.describe(include="all")

              id  hotel  location      price
count   5.000000      5         5   5.000000
unique       NaN      5         5        NaN
top          NaN  Accor  Thailand        NaN
freq         NaN      1         1        NaN
mean    3.000000    NaN       NaN  55.200000
std     1.581139    NaN       NaN   8.228001
min     1.000000    NaN       NaN  45.000000
25%     2.000000    NaN       NaN  50.000000
50%     3.000000    NaN       NaN  55.000000
75%     4.000000    NaN       NaN  60.000000
max     5.000000    NaN       NaN  66.000000

In [ ]:
hotel["price"]

0    50
1    60
2    55
3    45
4    66
Name: price, dtype: int64

In [ ]:
hotel["vat"] = hotel["price"]* 0.07

#R version
# hotel$vat = hotel$price * 0.07

hotel

   id       hotel  location  price   vat
0   1       Accor  Thailand     50  3.50
1   2        Ibis     Italy     60  4.20
2   3      London        UK     55  3.85
3   4       Seoul     Korea     45  3.15
4   5  le Concord       USA     66  4.62

In [ ]:
#query (filter rows)

value_hotel = hotel.query("price > 40")
value_hotel.to_csv("value_hotel.csv")
#r version

# hotel %>% filter(price>40)
# or
# filter(hotel, price > 40)

In [ ]:
#drop column
new_hotel = hotel.drop(["id", "vat"], axis=1)

In [ ]:
#inplace

hotel.drop("id", axis=1, inplace=True)
hotel

        hotel  location  price
0       Accor  Thailand     50
1        Ibis     Italy     60
2      London        UK     55
3       Seoul     Korea     45
4  le Concord       USA     66

In [ ]:
#filter
hotel.query(" price < 60 and location == 'UK' ")

    hotel location  price
2  London       UK     55

In [ ]:
# sklearn => machine learning most popular package
# template in sklearn to train_test_split

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import pandas as pd

In [ ]:
mtcars = pd.read_csv("https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/raw/5f23f993cd87c283ce766e7ac6b329ee7cc2e1d1/mtcars.csv")

In [ ]:
mtcars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
#prepare data

X = mtcars[["hp", "wt", "am"]]
y = mtcars["mpg"] #predicted

In [ ]:
#split data 80% train, 20% test

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [ ]:
#train model
# model = LinearRegression().fit(X_train, y_train)
model = RandomForestRegressor()
model.fit(X_train, y_train)

#test model/scoring
pred = model.predict(X_test)

pred
#evaluate model

array([18.745, 12.05 , 15.463, 25.514, 21.943, 18.361, 14.774])

In [ ]:
#train model
model = RandomForestRegressor()
model.fit(X_train, y_train)
##model.fit(X_train, y_train)

#test model/scoring
pred = model.predict(X_test)

# mean absolute error
mae = np.mean(np.absolute(y_test - pred))
# mean square error
mse = np.mean((y_test - pred)**2)

print(mae, mse)


#evaluate model

2.2178571428571434 9.445430142857115

In [ ]:
#search algorithm 3 models and find out
#classification, regressor

In [ ]:
# r caret
model = train(y ~ x, data, method ="lm")
p = predict(model, newdata)