<a href="https://colab.research.google.com/github/cestsuperwin59/data-science-bootcamp/blob/main/Python101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Essential Python 101**

*   variables
*   data types
*  data structure
* function
*   control flow
*   oop

In [ ]:
# comment
1+1
print(7//2) #floor division
print(7/2)
pow(5, 3)
abs(-666)
#modulo
5%2

3
3.5

1

In [ ]:
#assign a varible
my_name = "toy"
age = 34
movie_lover = True #False

In [ ]:
print(age, movie_lover)

34 True

In [ ]:
s23_price = 30000
discount = 0.15
new_price = s23_price * (1- discount)

print(new_price)

25500.0

In [ ]:
#remove variable
del s23_price

In [ ]:
#count variable
age = 34
age += 1
age += 1
age += 1
age -= 2
age *= 2
age /= 3
print(age)

23.333333333333332

In [ ]:
#data types
#int float str bool

In [ ]:
age = 34
gpa = 3.41
school = "kmitl"
movie_lover = True

In [ ]:
print( type(age))
print( type(gpa))
print( type(school))
print( type(movie_lover))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
#convert type
x = 100
x = str(x) #convert to string
print(x, type(x))

100 <class 'str'>

In [ ]:
y = True #T=1, F=0
y = int(y)
print(y, type(y)) #convert boolean to int

1 <class 'int'>

In [ ]:
z = 1
z = bool(z)
print(z, 'bool')

True bool

In [ ]:
age = 34
print(age, age*2, age/2)

34 68 17.0

In [ ]:
text = "I'm learning Python"
text2 = "hello"
print (text+text2, text*4)

I'm learning Pythonhello I'm learning PythonI'm learning PythonI'm learning PythonI'm learning Python

In [ ]:
# type int
age: int = 34
my_name: str ="Toy"
gpa: float = 3.41
seafood: bool = True
print(age, type(age))

34 <class 'int'>

In [ ]:
#function
# greeting

def greeting(name="Tip", location="Oslo"):
    print("Hello " + name)
    print("She is at " + location)

In [ ]:
greeting(location="Japan", name="Win")
greeting(location="Washington", name = "Toy")

Hello Win
She is at Japan
Hello Toy
She is at Washington

In [ ]:
def add_two_num(num1, num2):
    print("hello world")
    return(num1+num2) #อะไรหลัง return จะจบการทำงาน

In [ ]:
result = add_two_num(2,4)
print(result)

hello world
6

In [ ]:
#work with string
#string template : fstrings
my_name = "John Wick"
location = "London"

text = f"Hi! my name is {my_name} and I live in {location}"

print(text)

Hi! my name is John Wick and I live in London

In [ ]:
# function designed for string (string methods)
text = "a duck walks into a bar"
print(text)

a duck walks into a bar

In [ ]:
#slicing, index start with 0
print(text[0], text[-1], text[22])

a r r

In [ ]:
text[2:6]

'duck'

In [ ]:
text[7:12] #up to but not include

'walks'

In [ ]:
text[-3: ]

'bar'

In [ ]:
text[7: ]

'walks into a bar'

In [ ]:
#string is imutable #ถ้าประกาศตัวแปรเป็น string จะเปลี่ยนเลยไม่ได้
name ="Python" # -> Cython
name = "C" + name[1:]
print(name)

Cython

In [ ]:
name = "Python"
ืname = "Cython"
print(name)

SyntaxError: ignored

In [ ]:
text = "a duck walks into a bar"

In [ ]:
#function vs. methods: method is function for specific object
#string method
#string is imutable
text.upper()

'A DUCK WALKS INTO A BAR'

In [ ]:
text.lower()

'a duck walks into a bar'

In [ ]:
text.title()

'A Duck Walks Into A Bar'

In [ ]:
text.lower()

'a duck walks into a bar'

In [ ]:
text.replace("duck", "lion") #replace

'a lion walks into a bar'

In [ ]:
words = text.split(" ") #split white space
print(words, type(words))

['a', 'duck', 'walks', 'into', 'a', 'bar'] <class 'list'>

In [ ]:
" ".join(words) #join words

'a duck walks into a bar'

In [ ]:
"-".join(words)

'a-duck-walks-into-a-bar'

In [ ]:
#data structures
#1. list []
#2. tuple ()
#3. dictionary {}
#4. set {unique}

In [ ]:
#list is mutable (can update value)
shopping_list = ['egg', 'milk', 'bread']
print(shopping_list)

['egg', 'milk', 'bread']

In [ ]:
print(shopping_list[1])
shopping_list[0] ="Pineapple"
print(shopping_list)

milk
['Pineapple', 'milk', 'bread']

In [ ]:
print(len(shopping_list[1]))

4

In [ ]:
shopping_list = ['egg', 'milk', 'bread']

In [ ]:
shopping_list.append('orange juice') #add value on the right
print(shopping_list)

['egg', 'milk', 'bread', 'orange juice']

In [ ]:
#sort items: ascending order
shopping_list.sort()
print(shopping_list)

['bread', 'egg', 'milk', 'orange juice']

In [ ]:
#sort descending order
shopping_list.sort(reverse=True)
print(shopping_list)

['orange juice', 'milk', 'egg', 'bread']

In [ ]:
def mean(score):
    return sum(score)/len(score)

In [ ]:
score = [90,88,34,23]
print(sum(score), min(score), max(score), len(score), mean(score))

235 23 90 4 58.75

In [ ]:
sum(score)/len(score) #average

58.75

In [ ]:
# remove last item in the list
# list method .pop()
shopping_list.pop()
print(shopping_list)

['orange juice', 'milk']

In [ ]:
# remove specific item
shopping_list.remove("milk")
shopping_list

['orange juice']

In [ ]:
# .insert()
shopping_list.insert(1, "Coke")
shopping_list

['orange juice', 'Coke']

In [ ]:
# list+list
items1 = ['egg', 'milk']
items2 = ['banana', 'bread']

print(items1+items2)

['egg', 'milk', 'banana', 'bread']

In [ ]:
#tuple items is imutable (keep value only-cannot update)
tup_item = ('egg', 'bread', 'egg', 'egg')
tup_item

('egg', 'bread', 'egg', 'egg')

In [ ]:
tup_item.count('egg')

3

In [ ]:
#usernanme password (tuple)
s1 = ("id001", "1234")
s2 = ("id002", "6543")
user_pw = (s1,s2)

print(user_pw)

(('id001', '1234'), ('id002', '6543'))

In [ ]:
#tuple unpacking
username, password = s1

print(username, password)

id001 1234

In [ ]:
#tuple unpacking 3 values
name, age, gpa = ("John Wick", 42, 3.98)
print(name, age)

John Wick 42

In [ ]:
#tuple unpacking 3 values
name, age, _ = ("John Wick", 42, 3.98)
print(name, age)

John Wick 42

In [ ]:
#set {unique}
course = ["Python", "Python", "R", "SQL", "SQL", "sql"]

In [ ]:
set(course)

{'Python', 'R', 'SQL', 'sql'}

In [ ]:
#dictionary key: value pairs (mutable)
course ={
    "name": "Bootcamp",
    "duration": "4 months",
    "students": 200,
    "replay" : True,
    "skills": ["Google Sheets", "SQL", "R", "Python",
               "Stats", "ML", "Dashboard", "Data transformation"]
}

In [ ]:
course

{'name': 'Bootcamp',
 'duration': '4 months',
 'students': 200,
 'replay': True,
 'skills': ['Google Sheets',
  'SQL',
  'R',
  'Python',
  'Stats',
  'ML',
  'Dashboard',
  'Data transformation']}

In [ ]:
course["name"]

'Bootcamp'

In [ ]:
course["skills"]

['Google Sheets',
 'SQL',
 'R',
 'Python',
 'Stats',
 'ML',
 'Dashboard',
 'Data transformation']

In [ ]:
course["replay"]

True

In [ ]:
#add key
course["start_time"] = "9am"

course["language"] = "Thai"

course

{'name': 'Bootcamp',
 'duration': '4 months',
 'students': 200,
 'replay': True,
 'skills': ['Google Sheets',
  'SQL',
  'R',
  'Python',
  'Stats',
  'ML',
  'Dashboard',
  'Data transformation'],
 'start_time': '9am',
 'language': 'Thai'}

In [ ]:
#delete key
del course["language"]
course

{'name': 'Bootcamp',
 'duration': '4 months',
 'students': 200,
 'replay': True,
 'skills': ['Google Sheets',
  'SQL',
  'R',
  'Python',
  'Stats',
  'ML',
  'Dashboard',
  'Data transformation'],
 'start_time': '9am'}

In [ ]:
#update key
course["replay"] = False
course

{'name': 'Bootcamp',
 'duration': '4 months',
 'students': 200,
 'replay': False,
 'skills': ['Google Sheets',
  'SQL',
  'R',
  'Python',
  'Stats',
  'ML',
  'Dashboard',
  'Data transformation'],
 'start_time': '9am'}

In [ ]:
course["skills"][0:3]

['Google Sheets', 'SQL', 'R']

In [ ]:
course["skills"][-3:]

['ML', 'Dashboard', 'Data transformation']

In [ ]:
course.keys()

dict_keys(['name', 'duration', 'students', 'replay', 'skills', 'start_time'])

In [ ]:
list( course.keys())

['name', 'duration', 'students', 'replay', 'skills', 'start_time']

In [ ]:
list( course.values())

['Bootcamp',
 '4 months',
 200,
 False,
 ['Google Sheets',
  'SQL',
  'R',
  'Python',
  'Stats',
  'ML',
  'Dashboard',
  'Data transformation'],
 '9am']

In [ ]:
list( course.items())

[('name', 'Bootcamp'),
 ('duration', '4 months'),
 ('students', 200),
 ('replay', False),
 ('skills',
  ['Google Sheets',
   'SQL',
   'R',
   'Python',
   'Stats',
   'ML',
   'Dashboard',
   'Data transformation']),
 ('start_time', '9am')]

In [ ]:
course.get("replay")

False

In [ ]:
course["replay"]

False

In [ ]:
#recap
#list, dictionary = mutable
#tuple, string = imutable

In [ ]:
#control flow
#if for while

In [ ]:
#final exam 150 questions, pass >=120
score = 125
if score >= 120:
    print("passed")
else:
    print("failed")

passed

In [ ]:
def grade (score):
    if score >= 120:
        return("passed")
    else:
        return("failed")

In [ ]:
result = grade(144)
print(result)

passed

In [ ]:
def grade (score):
    if score >= 120:
        return("Excellent")
    elif score >= 100:
        return "Good"
    elif score >= 80:
        return "Okay"
    else:
        return "Need to read more!"

In [ ]:
result = grade(85)
print (result)

Okay

In [ ]:
# use and, or in condition
# course == data science, score >= 88 passed
# course == english, score >= 70 passed
def grade(course, score):
    if course == "english" and score >= 70:
        return "passed"
    elif course == "data science" and score >=80:
        return "passed"
    else:
        return "failed"

In [ ]:
grade("data science", 81)

'passed'

In [ ]:
not True

False

In [ ]:
# for loop
#if score >= 80
scores = [88, 90, 75]

for score in scores:
    print(score-2)

86
88
73

In [ ]:
new_scores = []

for score in scores:
    new_scores.append(score-2)
print(new_scores)

[86, 88, 73]

In [ ]:
#grading all
def grading_all(scores):
    new_scores = []
    for score in scores:
        new_scores.append(score-2)
    return new_scores

In [ ]:
grading_all([75,88,90,52])

[73, 86, 88, 50]

In [ ]:
# list comprehension
scores = [88, 90, 75]
new_scores = [s*2 for s in scores]
new_scores

[176, 180, 150]

In [ ]:
#list comprehension
#for loop
friends = ["toy", "ink", "bee", "pui"]

[f.upper() for f in friends]

['TOY', 'INK', 'BEE', 'PUI']

In [ ]:
#while loop
count = 0

while count < 5:
    print("hello")
    count +=1

hello
hello
hello
hello
hello

In [ ]:
#chatbot for fruit order
user_name = input("What is your name? ")

What is your name? Johnwick

In [ ]:
def chatbot():
    fruits = []
    while True:
        fruit = input("What fruit do you want to order? ")

        if fruit=='exit':
            return fruits
        fruits.append(fruit)

In [ ]:
chatbot()

What fruit do you want to order? apple
What fruit do you want to order? strawberry
What fruit do you want to order? exit

['apple', 'strawberry']

In [ ]:
#HW01 -chatbot to order pizza
#HW02 - pao ying chub

In [ ]:
age = int( input("How old are you? "))

How old are you? 34

In [ ]:
type(age)

int

In [ ]:
#OOP -Object Oriented Programming
#Dog class

In [ ]:
class Dog:
    def __init__(self, name, age, breed): #__ dunder
        self.name = name #int initiate
        self.age = age
        self.breed = breed

In [ ]:
dog1 = Dog("ovaltine", 4, "chihuahua")
dog2 = Dog("milo", 3, "poodle")
dog3 = Dog("pepsi", 3.5, "bulldog")

In [ ]:
print(dog1.name, dog1.age, dog1.breed)

ovaltine 4 chihuahua

In [ ]:
class Employee:
    def __init__(self, id, name, dept, pos): #__ dunder
        self.id = id #int initiate
        self.name = name
        self.dept = dept
        self.pos = pos #position

    def hello(self):
        print(f"Hello! my name is {self.name}")

    def work_hours(self, hours):
        print(f"{self.name} works for {hours} hours.")

    def change_dept(self, new_dept):
        self.dept = new_dept
        print(f"{self.name} is now in {new_dept}")

In [ ]:
emp1 = Employee(1, "John", "Finance", "Analyst")

In [ ]:
print(emp1.name, emp1.pos)

John Analyst

In [ ]:
emp1.hello()

Hello! my name is John

In [ ]:
emp1.work_hours(10)

John works for 10 hours.

In [ ]:
emp1.change_dept("Data Science")

John is now in Data Science

In [ ]:
#object: attribute => name, id, pos
#object: method => hello(), change_dept()

In [ ]:
#HW03 - create new ATM class (5 methods)

class ATM:
    def __init__(self, name, bank, balance):
        self.name = name
        self.bank = bank
        self.balance = balance
    def deposit(self, amt):
        self.balance += amt

scb = ATM("toyeiei", "scb", 500)
print(scb.balance)

scb.deposit(100)
print(scb.balance)

500
600